{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Игра менеджмент</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
    <script src="{% static '/js/BaseWindow.js' %}"></script>
    <script type="module" src="{% static '/js/PlayerCard.js' %}"></script>
</head>
<style>
body {
    background-image: url(/static/resources/images/gameBackground.jpg);
    background-size: cover;
    margin: 0
}
html {
    margin: 0
}
</style>
<body>
    <div class="main-container">
        <div class="game-cards-container">
            {% for player in players_data %}
                <player-card
                    avatarPath="{{ player.avatar_path }}"
                    playerName="{{ player.username }}"
                    id="{{ player.player_id }}"
                ></player-card>
            {% endfor %}
        </div>
        <div class="horizontal-container bottom-tools" style="width: 100%;justify-content: space-around">
            <div class="flex-start" style="width:40%;margin-bottom:0">
                <div class="horizontal-container no-margin">
                    <b class="no-margin">Лог игры</b>
                    <button id="surrenderBtn" class="red-button no-margin">Сдаться</button>
                </div>
                <textarea name="log" id="log" readonly></textarea>
            </div>
            <div class="container flex-start" style="margin-bottom:0">
                <b>Банк</b>
                <fieldset class="horizontal-container no-padding">
                    <div>
                        <b>ЕГП:</b>
                        <div class="horizontal-container">
                            <div class="bank-info">Количество: <span id="EGPBank"></span></div>
                            <div class="bank-info">Максимальная цена: <span id="maxSellEGP"></span></div>
                        </div>
                    </div>
                    <div>
                        <b>ЕСМ:</b>
                        <div class="horizontal-container">
                            <div class="bank-info">Количество: <span id="ESMBank"></span></div>
                            <div class="bank-info">Минимальная цена: <span id="minBuyESM"></span></div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</body>
<script>
    window.USERNAME = '{{ player_name }}';
    window.USERID = {{ player_id }};
    window.GAME_ID = '{{ game_id }}';
</script>
<script src="{% static 'js/gamepage.js' %}" type="module"></script>
</html>