{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Игра менеджмент</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static '/js/BaseWindow.js' %}"></script>
</head>
<body>
    <center class="page-container">
        <header>
            <h1>
                Добро пожаловать в игру "Менеджмент"
            </h1>
            <hr>
        </header>
        <div class="main-container">

        </div>
        <footer>
            <img class="avatar-icon" src="{{ avatar_path }}" alt=" ">
            <span id="userName">{{ player }}</span>
        </footer>
    </center>
    {% comment %} <base-window winTitle="Тестовое окно"></base-window> {% endcomment %}
</body>
<script>
    window.USERNAME = '{{ player }}';
</script>
<script src="{% static 'js/mainpage.js' %}" type="module"></script>
</html>