.page-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 95vh;
}

.vertical-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vertical-content input {
    width: 200px;
    margin: 5px;
}
.custom-btn {
    min-width: 120px;
    height: 30px;
}

.container {
    margin: 3px;
}

.horizontal-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.back-arrow {
    align-self: flex-start;
}

footer {
    display: flex;
    align-items: center;
    margin-bottom: 3vh;
}

button {
    cursor: pointer;
}
button:disabled {
    cursor: default;
    pointer-events: none;
}
button a {
    color: inherit;
    text-decoration: none;
}

.error-text {
    color: red;
}

.avatar {
    width: 100px;
    height: 100px;
    margin: 3px;
    cursor: pointer;
}
.avatar-icon {
    width: 40px;
    height: 40px;
    margin: 3px;
}

.arrow {
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    outline: none;
}
.arrow:hover {
    filter: brightness(75%)
}

.next-arrow {
    background-image: url('/static/resources/images/next-arrow.png');
}
.prev-arrow {
    background-image: url('/static/resources/images/prev-arrow.png');
}

.round-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    outline: none;
}

.count-players {
    align-self: flex-start;
    background-color: white;
    border: 3px solid black;
}

.big-button {
    width: 240px;
    height: 40px;
    font-size: 16pt;
}

input:not([type='checkbox']):not([type='radio']) {
    background-color: white;
    width: 250px;
    height: 30px;
    border-radius: 3px;
    border: 0px;
    border: 1px solid black;
    font-size: 14pt;
}

.flex-start {
    align-self: flex-start;
}

.red-button {
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    height: 21px;
    border-radius: 3px;
}
.red-button:active {
    background-color: brown;
}